@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Fira Sans', sans-serif;
}
section{
    margin: 5% 8%;
}
header{
    width: 100%;
    height: 50px;
    background-color: #5351D6;
}
.nav-area ul{
    float: left;
    margin: 0% 8%;
    padding: 10px 0px;
}
.nav-area ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
/* .side-one{
    padding: 8% 0%;
} */
.side-one{
    width: 50%;
    float: left;
}
.side-one img{
    width: 100%;
    /* margin-left: 20%; */
}
.Content-One h4{
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
}
.Content-One h2{
    font-size: 45px;
}
.Content-One p{
    font-size: 16px;
    color: dimgray;
    margin-top: 10px;
}
.btn{
    background-color: #5351D6;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 6px;
}
.text-color{
    color: #F66660;
}


.about-area{
    
}
.Content-Two{
    margin-top: 150px;
}
.Content-Two h5{
    font-size: 20px;
    font-weight: 400;
}
.Content-Two h2{
    font-size: 50px;
}